#quiz-section {
    display: inline;
}

div {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

input {
    display: inline;
    display: none;
}

img {
    height: 250px;
}

.hidden {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 75%;
    height: 500px;
  }